@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

img {
  object-fit: cover;
}

input {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

::-webkit-scrollbar {
  width: 20px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: none; /* 트랙 색상 */
}

::-webkit-scrollbar-thumb {
  background-color: #e8e8e8; /* 손잡이 색상 */
  border-radius: 20px; /* 손잡이 모서리 곡률 */
  border: 5px solid #f8f8f8; /* 손잡이와 트랙 사이의 간격 */
}
main {
  /* scrollbar-gutter: both-edges stable; 스크롤바 영역 밀림 해결 */
}
