@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

main {
  scrollbar-gutter: stable both-edges;
}
img {
  object-fit: cover;
}

input {
  outline: none;
}

#specificInput:-webkit-autofill,
#specificInput:-webkit-autofill:hover,
#specificInput:-webkit-autofill:focus,
#specificInput:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; /* 투명 배경 */
}

::-webkit-scrollbar-thumb {
  background-color: #e8e8e8; /* 손잡이 색상 */
  border-radius: 10px; /* 손잡이 모서리 곡률 */
  border: 1px solid #f8f8f8; /* 손잡이와 트랙 사이의 간격 */
}

main {
  scrollbar-gutter: both-edges stable;
}
